.register-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.register-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.form-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.register-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
